body {background-color: rgb(22, 164, 207);}
        h1, h2, h3, p, li {color: black; font-family: Verdana, Geneva, Tahoma, 
        sans-serif;}

        .navBar {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        .navBar-Item {
           float: left;
        }

        .navBar-Item a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .navBar-Item a:hover {
            background-color: #111;
        }